
.navbar-collapse{
    background-color: #42a0c5
}
ul{
    background: rgb(151, 219, 83);
}

.navbar{
    background-color: rgb(211, 188, 145) ;
}
nav{
    background: palevioletred;
}

body{
    background:#5e656b;
    font: 20px Tahoma, sans-serif;
}
.quem-somos{
    background-color:rgb(207, 124, 68);
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: rgb(196, 139, 130);
}
.bg-footer{
    background-color: violet;
}